{% load static %}
<!DOCTYPE html>
<html>
<head>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'styles.css' %}">
  <title>{% block title %}{% endblock %}</title>
</head>
<body>
    <div class="navbar">
        <ul>
            <li> <a href="/">Home</a></li>
            <li><a href="">Activity</a></li>
            <li><a href="moisture">Soil moisture</a></li>
        </ul>
    </div>

{% block content %}
{% endblock %}
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>