<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<style>
    table {
        width: 100%;
        border-collapse: collapse;
    }
    th, td {
        padding: 8px;
        text-align: left;
        border-bottom: 1px solid #ddd;
    }
    th {
        background-color: #f2f2f2;
    }
    tr:hover {background-color: #ddd;}
    
</style>
<body>
    <table>
        <thead>
            <tr>
                <th>time</th>
                <th>moisture level</th>
            </tr>
        </thead>
        <tbody>
            {% for item in moisture_level%}
            <tr>
                <td>{{item.timeStamp}}</td>
                <td>{{item.soil_level}}</td>
                
            </tr>
            {% endfor %}
            
    </table>
</body>
</html>