{% extends 'base.html'%}
{% block title %}
logic loop
{% endblock %}

{% block content %}

<div class="main">
    <table>
        <thead>
            <tr>
                <th>time</th>
                <th>moisture level</th>
            </tr>
        </thead>
        <tbody>
            {% for item in moisture_level%}
            <tr>
                <td>{{item.timeStamp}}</td>
                <td>{{item.soil_level}}</td>
                
            </tr>
            {% endfor %}
            
    </table>
    
</div>

{% endblock %}